---
import BaseLayout from '../layouts/BaseLayout.astro';
import Header from '../components/layout/Header.astro';
import Hero from '../components/sections/Hero.astro';
import About from '../components/sections/About.astro';
import Experience from '../components/sections/Experience.astro';
import Skills from '../components/sections/Skills.astro';
import Certifications from '../components/sections/Certifications.astro';
import Education from '../components/sections/Education.astro';
import Contact from '../components/sections/Contact.astro';
import Footer from '../components/layout/Footer.astro';
---

<BaseLayout>
  <Header />
  <main>
    <Hero />
    <About />
    <Experience />
    <Skills />
    <Certifications />
    <Education />
    <Contact />
  </main>
  <Footer />
</BaseLayout>
